<table>
  <tbody id="minesweeper">
    <!-- Dear Student, would you write a bunch of HTML here or generate
         a big array of tiles, or do it via JavaScript? -->
    <tr>
      <td class="unopened bomb"></td>
      <td class="unopened"></td>
    </tr>
    <tr>
      <td class="unopened"></td>
      <td class="unopened"></td>
    </tr>
  </tbody>
</table>

<%= link_to "home", root_path, class: "btn btn-primary" %>

<%= javascript_pack_tag 'minesweeper_app' %>
