<div class="banner">
  <h1 class="text-center">Wagon Race</h1>
</div>
<hr>
<!-- You race HTML code here -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

<table class="racer-table">
  <tr id="player1-race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="finish"></td>
  </tr>
  <tr id="player2-race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="finish"></td>
  </tr>
</table>

<%= link_to "puzzle", puzzle_path, class: "btn btn-primary" %>
