<div class="banner">
  <h1 class="text-center">Wagon Race</h1>
</div>
<hr>
<!-- You race HTML code here -->

<table class="racer-table">
  <tr id="player1-race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="finish"></td>
  </tr>
  <tr id="player2-race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="finish"></td>
  </tr>
</table>

<%= link_to "home", root_path, class: "btn btn-primary" %>
